@import "tailwindcss";

:root {
  --background: #3f3f44; /* графит */
  --foreground: #ededed; /* обычный текст */

  /* Цвет кнопок / карточек — старая бумага */
  --button-foreground: #a79971;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-buttons: var(--font-buttons);
}

/* Базовый масштаб */
html {
  font-size: clamp(16px, 0.9vw, 18px);
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, -apple-system, Segoe UI, Roboto,
    Arial, sans-serif;
}

a {
  color: inherit;
}
